[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:kolyamba2105/nvim.git
[submodule ".config/alacritty/catppuccin"]
	path = .config/alacritty/catppuccin
	url = git@github.com:catppuccin/alacritty.git
[submodule ".config/gitui/catppuccin"]
	path = .config/gitui/catppuccin
	url = git@github.com:catppuccin/gitui.git
[submodule ".config/btop/themes"]
	path = .config/btop/themes
	url = git@github.com:catppuccin/btop.git
