[alias]
  a   = add
  b   = branch
  ba  = branch -a
  bd  = branch -d
  c   = commit
  ca  = commit --amend
  can = commit --amend --no-edit
  ch  = checkout
  chb = checkout -b
  cp  = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  d   = diff
  dc  = diff --cached
  fp  = fetch --prune
  l   = log --graph
  p   = push
  pf  = push -f
  pfn = push -f --no-verify
  pl  = pull
  plm = !git checkout master && git pull --rebase && git checkout -
  plr = pull --rebase
  rb  = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase -i
  rbm = rebase master
  rs  = restore
  rss = restore --staged
  s   = status
  sh  = show
  shh = show HEAD
  st  = "!f() { git diff --stat HEAD~$1 HEAD; }; f"
  sw  = switch

[color]
  ui = true

[core]
  editor = nvim
  pager = delta

[delta]
  dark = true
  line-numbers = true
  navigate = true
  side-by-side = true

[diff]
  tool = nvimdiff

[interactive]
  diffFilter = delta --color-only

[merge]
  tool = nvimdiff

[pager]
  branch = false
  stash = false

[push]
  autoSetupRemote = true

[user]
  email = haravetskyy@gmail.com
  name = kolyamba2105
