[user]
  email = haravetskyy@gmail.com
  name = kolyamba2105

[color]
  ui = true

[alias]
  a   = add
  b   = branch
  ba  = branch -a
  bd  = branch -d
  c   = commit
  ca  = commit --amend
  can = commit --amend --no-edit
  ch  = checkout
  chb = checkout -b
  cp  = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  d   = diff
  dc  = diff --cached
  l   = !git log --oneline | fzf --preview 'git show {+1} | bat --style=full --color=always'
  p   = push
  pf  = push -f
  pfn  = push -f --no-verify
  pl  = pull
  plr = pull --rebase
  plm = !git checkout master && git pull --rebase && git checkout -
  rb  = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase -i
  rbm = rebase master
  rs  = restore
  rss = restore --staged
  s   = status
  sh  = show
  shh = show HEAD
  sw  = switch

[pager]
  branch = false
  stash = false

[core]
  editor = nvim

[diff]
  tool = nvimdiff

[merge]
  tool = nvimdiff

[push]
	autoSetupRemote = true
